<div class="col">
    <div class="calendar">
        <div class="calendar-inner">
            <div class="calendar-controls">
            <div class="calendar-prev"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128"><path fill="#666" d="M88.2 3.8L35.8 56.23 28 64l7.8 7.78 52.4 52.4 9.78-7.76L45.58 64l52.4-52.4z"></path></svg></a></div>
            <div class="calendar-year-month">
            <div class="calendar-month-label">{{month_labels[month]}}</div>
            <div>-</div>
            <div class="calendar-year-label">2022</div>
            </div>
            <div class="calendar-next"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128"><path fill="#666" d="M38.8 124.2l52.4-52.42L99 64l-7.77-7.78-52.4-52.4-9.8 7.77L81.44 64 29 116.42z"></path></svg></a></div>
            </div>
            <div class="calendar-today-date">Today : {{this.calendarService.today | date:'yyyy-MM-dd' }}
            </div>
            <div class="calendar-body">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
                <div class="prev-dates" *ngFor="let prev_day of prev_days">{{prev_day.getDate()}}</div>
                <app-day [day]="day" [tasks]="tasks" *ngFor="let day of days" ></app-day>
            </div>
        </div>
    </div>
</div>

<script src="main.js"></script>
