
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist" style="margin: 1.5rem;">
      <button class="nav-link active" id="nav-calendar-tab" data-bs-toggle="tab" data-bs-target="#nav-calendar" type="button" role="tab" aria-controls="nav-calendar" aria-selected="true">calendar</button>
      <button class="nav-link" id="nav-tasks-tab" data-bs-toggle="tab" data-bs-target="#nav-tasks" type="button" role="tab" aria-controls="nav-tasks" aria-selected="false">tasks</button>
      <button class="nav-link" id="nav-projects-tab" data-bs-toggle="tab" data-bs-target="#nav-projects" type="button" role="tab" aria-controls="nav-projects" aria-selected="false">projects</button>
      <button class="nav-link" id="nav-employees-tab" data-bs-toggle="tab" data-bs-target="#nav-employees" type="button" role="tab" aria-controls="nav-employees" aria-selected="false">employees</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-calendar" role="tabpanel" aria-labelledby="nav-calendar-tab">
        <app-year></app-year>
    </div>
    <div class="tab-pane fade" id="nav-tasks" role="tabpanel" aria-labelledby="nav-tasks-tab">
        <app-task-table></app-task-table>
    </div>
    <div class="tab-pane fade" id="nav-projects" role="tabpanel" aria-labelledby="nav-projects-tab">
       <app-project-table></app-project-table> 
    </div>
    <div class="tab-pane fade" id="nav-employees" role="tabpanel" aria-labelledby="nav-employees-tab">
        <app-employee-table></app-employee-table> 
     </div>
</div>

<app-task-edit [task]="task" *ngFor="let task of tasks"></app-task-edit>
<app-project-edit [project]="project" *ngFor="let project of projects"></app-project-edit>
<app-employee-edit [employee]="employee" *ngFor="let employee of employees"></app-employee-edit>
<app-task-new></app-task-new>
<app-project-new></app-project-new>
<app-employee-new></app-employee-new>