<section class="intro">
    <div class="mask d-flex align-items-center h-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" [attr.data-bs-target]="'#task-new-modal'">New</button>
                    <div class="card bg-dark shadow-2-strong">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-dark table-borderless mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">TASK TITLE</th>
                                            <th scope="col">DESCRIPTION</th>
                                            <th scope="col">START DATE</th>
                                            <th scope="col">END DATE</th>
                                            <th scope="col">OPTIONS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let task of tasks">
                                            <th scope="row">{{task.title}}</th>
                                            <td>{{task.description}}</td>
                                            <td>{{task.start_date}}</td>
                                            <td>{{task.end_date}}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#task-edit-modal' + task.id">Edit</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>